body {
    background-color: #251D3A;
    font-style: normal;
}

hr {
    border-style: dotted none none;
    border-color: #E04D01;
    border-width: 8px;
    height: 0px;
    width: 5%;
}

h1,
h3 {
    color: #FF7700;
    height: 100%;
}

p,
li,
td,
th {
    color: white;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.site-header div {
    padding-left: 30px;
}

.external-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.external-links a {
    background-color: white;
    margin: 0 200px 0 200px;
    border-radius: 8%;
    padding: 10px;
    text-decoration: none;
}

.external-links a:hover {
    background-color: #FF7700;
    color: white;
}

.profile-pic img {
    border-radius: 50%;
    border-color: #2A2550;
    border-width: 10px;
    border-style: solid;
}